/.idea
/application/logs
/application/config/database.php
/uploads/employees/*.jpeg
/uploads/employees/*.jpg
/uploads/employees/*.png

/uploads/students/ta_2014/*.jpeg
/uploads/students/ta_2014/*.jpg
/uploads/students/ta_2014/*.png

/uploads/students/ta_2015/*.jpeg
/uploads/students/ta_2015/*.jpg
/uploads/students/ta_2015/*.png

/uploads/students/ta_2016/*.jpeg
/uploads/students/ta_2016/*.jpg
/uploads/students/ta_2016/*.png


/uploads/syllabus_sap/*.pdf