/.idea


/index.php
#index.php
#index.php

/application/logs
/application/config/database.php
/uploads/employees/*.jpeg
/uploads/employees/*.jpg
/uploads/employees/*.png

/uploads/certificate/*.pdf

/uploads/students/ta_2014/*.jpeg
/uploads/students/ta_2014/*.jpg
/uploads/students/ta_2014/*.png

/uploads/students/ta_2015/*.jpeg
/uploads/students/ta_2015/*.jpg
/uploads/students/ta_2015/*.png

/uploads/students/ta_2016/*.jpeg
/uploads/students/ta_2016/*.jpg
/uploads/students/ta_2016/*.png

/uploads/students/ta_2019/*.jpeg
/uploads/students/ta_2019/*.jpg
/uploads/students/ta_2019/*.png

**/uploads/document/
**/uploads/vreservation/
***/uploads/budgeting/catalog/
***/uploads/budgeting/pr/
***/uploads/budgeting/po/
**/uploads/budgeting/
**/uploads/signature/
document/*
/uploads/syllabus_sap/*.pdf
/uploads/vreservation/*.pdf
**/uploads/files/
**/uploads/finance/
**/uploads/certificate/

/uploads/budgeting/catalog/*.jpeg
/uploads/budgeting/catalog/*.jpg
/uploads/budgeting/catalog/*.png

**/uploads/students/
**/uploads/cooperation/
**/uploads/rektorat/

***/uploads/Agregator/Aps/

#Ignores Add Images
**/images/Facilities/
**/images/Kaprodi/
**/images/Partner/
**/images/Lecturer/
**/images/Slider/
**/images/Testimonials/

#Ignores Add Templates Surat Generator
**/uploads/document-generator/
***/uploads/document-generator/template/
****/uploads/document-generator/template/temp/
**/uploads/temp/

**/uploads/task-exam/
**/uploads/kb/
**/uploads/help/