/*Custom Button*/
.btn-default-danger {
    background: #fff !important;
    color: #bd362f !important;;
    border: 1px solid #bd362f !important;;
}

.btn-default-danger:hover {
    background: #bd362f  !important;;
    color: #ffffff  !important;;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.btn-default-warning {
    background: #fff !important;
    color: #f89406 !important;;
    border: 1px solid #f89406 !important;;
}

.btn-default-warning:hover {
    background: #f89406  !important;;
    color: #ffffff  !important;;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

/* BTN SUCCESS */
.btn-default-success {
    background: #fff  !important;;
    color: #51a351  !important;;
    border: 1px solid #51a351  !important;;
}
.btn-default-success:hover {
    background: #51a351  !important;;
    color: #ffffff  !important;;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}
.btn-default-success:hover .caret {
    border-top-color: #ffffff !important;
}
.btn-default-success .caret {
    border-top-color: #51a351 !important;
}

/* BTN SUCCESS CLOSE */

.btn-default-primary {
    color: #3968c6  !important;;
    background: #ffffff !important;;
    border: 1px solid #3968c6 !important;;
}
.btn-default-primary:hover {
    background: #3968c6 !important;;
    color: #ffffff !important;;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.label-info-inline {
    color: #658db3;
    background-color: #fff;
    border: 1px solid #658db3;
}

.label-success-inline{
    color: #94b86e;
    background-color: #fff;
    border: 1px solid #94b86e;
}

.label-danger-inline {
    color: #e25856;
    background-color: #fff;
    border: 1px solid #e25856;
}