body {
  /*!*background: #333;*!*/
  background: #fff;
  /*!*background: #f4f4f4;*!*/
}

/*
*{
margin: 0;
padding: 0;
outline: none;
border: none;
box-sizing: border-box;
}
*:before,
*:after{
box-sizing: border-box;
}*/
.container{
  width: 100%;
}
.wrap, .wrap2 {
  width: 550px;
  height: auto;
  /*margin: 70px 100px;*/
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  float: left;
}
.wrap2{
  width: 410px !important;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/*@media (min-width: 768px) {*/
  /*.wrap {*/
    /*width: 550px;*/
    /*border: 1px solid blue;*/
  /*}*/
/*}*/

/* Medium devices (desktops, 992px and up) */
/*@media (min-width: 992px ) {*/
  /*.wrap {*/
    /*width: 900px;*/
    /*border: 1px solid red;*/
  /*}*/
/*}*/

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: 1200px) {*/
  /*.wrap {*/
    /*width: 1200px;*/
    /*border: 1px solid #333;*/
  /*}*/
/*}*/

div[class^="metro"]{
  float: left;
  margin: 0 10px 10px 0;
  height: 95px;
  position: relative;
  cursor: pointer;
  transition: all .4s ease;
  user-drag: element;
  border: solid 1px #ffffffbf;
  /*border: solid 2px transparent;*/
}
div[class^="metro"]:hover{
  /*border: solid 2px mintcream;*/
}
div[class^="metro"]:active{
  transform: scale(.98,.98);
}
.metro-big{width: 200px;border: 1px solid #fff;}
.metro-medium{width: 130px;border: 1px solid #fff;}
.metro-small{width: 100px;border: 1px solid #fff;}
.last{margin-right: 0 !important;}
/*.Start{
color: white;
font: normal 50px 'Yanone Kaffeesatz', sans-serif;
margin-bottom: 50px;
cursor: pointer;
user-select: none;
display: inline-block;
transition: all .3s ease;
}
.Start:hover{
text-shadow: 0 0 4px white;
}*/
.space{
  margin-bottom: 110px;
}
.label{
  position: absolute;
  color: white;
  font: 500 12px sans-serif;
  left: 10px;
  user-select: none;
}
.bottom{bottom: 5px;}
.top{top: 5px;}
.chat{background: #df0024;}
.calendar{
  background: #00a9ec;
}
.store{background: #ff9000;}
.ie{background: #00abdc;}
.people{background: #0e5d30;}
.video{background: #8b0189;}
.chrome{background: #ce4e4e;}
.photo{
  background: url('http://lorempixel.com/200/95/people');
  background-position: -2px -2px;
}
.music{
  background: #5f5f5f;
  /*animation: flip 6s linear infinite;
  transform: rotateX(0deg);*/
}
.games{background: #33b133;}
.twitter{background: #19bfe5;}
.gp{background: #d64136;}
.fb{background: #3b5998;}
.cnn{background: #fe0000;}
.ps{
  background: #0c5fa1;
  /*animation: flip 6s linear infinite;*/
  /*transform: rotateX(0deg);*/
}
.bt{background: #2546e9;}
.cc{background: #d20808;}
.wmp{background: #f68935;}
.tube{background: #c8312b;}
.skype{background: #10bef2;}

div[class^="icon"]{
  width: 45px;
  height: 45px;
  margin: 20px auto;
  background-size: 45px 45px;
}

::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px 2px rgba(0,0,0,0.3);
  background: #007491;
}
::-webkit-scrollbar-thumb {
  background: #002f3b;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  cursor: pointer;
}
::selection{
  background: mintcream;
}

@keyframes flip{
  0%{
    transform: rotateX(0deg);
  }
  15%{
    transform: rotateX(360deg);
  }
  100%{
    transform: rotateX(360deg);
  }
}

.photo img{
  top: -4px;
  left: -4px;
  position: absolute;
  opacity: 0;
  animation: fade 8s ease-in-out infinite 8s;
  z-index: 0;
  border: solid 2px transparent;
  transition: all .3s ease;
}



.photo img:hover{
  border: solid 2px mintcream;
}

@keyframes fade{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  60%{
    opacity: 0;
  }
}



.metro-big .glyphicon , .metro-big .fas, .metro-big .fa {
  color: #fff;
  font-size: 40px;
  margin-left: 80px;
  margin-top: 20px;

}

.metro-medium .glyphicon, .metro-medium .fas, .metro-medium .fa {
  color: #fff;
  font-size: 40px;
  margin-left: 47px;
  margin-top: 16px;
}

.metro-small .glyphicon, .metro-small .fas, .metro-small .fa {
  color: #fff;
  font-size: 40px;
  margin-left: 30px;
  margin-top: 20px;
}

.grapich .col-xs-12{
  padding-left:0px;
  padding-right:50px;
}

